{% macro what_is_opwen() %}
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 id="what">{{ _('What is Lokole?') }}</h2>
    </div>
      <div class="panel-body">
        {{ _(
        'Lokole is a project of the Canadian-Congolese non-profit organization '
        'Ascoderu that enables rural communities to cheaply and sustainably access '
        "the global communications network via email. As such, Lokole is Ascoderu's "
        'contribution to the United Nations Sustainable Development Goal 9: '
        'achieving global sustainable communications infrastructure.'
        ) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro how_does_it_work() %}
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 id="how">{{ _('How does it work?') }}</h2>
    </div>
    <div class="panel-body">
        {{ _(
        'The Lokole is a small device that creates a local network: the Lokole '
        'WiFi. You can connect to this network with any device: your phone, '
        'your tablet or your laptop. Once on the network, you access the '
        'Lokole website where you read and write emails via your Ascoderu '
        'account. Once per day, when the cost of bandwidth is cheapest the '
        "Lokole then transmits everyone's emails to the cloud. "
        'In this way, many people can pool their resources to make email '
        'available for everyone.'
        ) }}
    </div>
  </div>
</div>
{% endmacro %}
