{% extends "_base.html" %}

{% block style %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.min.css') }}">
{% endblock %}

{% block content %}{{ super() }}
    <div class="container">
        <div class="col-sm-4 maintainer">
            {{ nzola() }}
        </div>
        <div class="col-sm-4 maintainer">
            {{ laura() }}
        </div>
        <div class="col-sm-4 maintainer">
            {{ clemens() }}
        </div>
    </div>
{% endblock %}

